In [17]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [18]:
data = pd.read_csv('/Users/elnazshahzeidi/Downloads/learningSet.csv')
data

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [19]:
#Check for null values in the numerical columns.

datacat = data.select_dtypes(object)
datanum = data.select_dtypes(np.number)

In [20]:
numerical_null_counts= datanum.isna().sum()

numerical_null_counts

ODATEDW         0
TCODE           0
DOB             0
AGE         23665
NUMCHLD     83026
            ...
TARGET_B        0
TARGET_D        0
HPHONE_D        0
RFA_2F          0
CLUSTER2      132
Length: 407, dtype: int64

In [21]:
# numerical_null_counts[numerical_null_counts>0]

In [31]:
# #clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA

numerical_columns = ['WEALTH1', 'ADI', 'DMA', 'MSA']
null_counts = data[numerical_columns].isna().sum()
print(null_counts[null_counts > 0])

Series([], dtype: int64)

In [32]:
for col in numerical_columns:
    median_value = data[col].median() 
    data[col].fillna(median_value, inplace=True)

In [33]:
print(data[numerical_columns].isna().sum())

WEALTH1    0
ADI        0
DMA        0
MSA        0
dtype: int64